@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#About .about-card p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: rgba(26, 77, 46, 0.6);
}


header .brand {
    color: #E8DFCA;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;

}

header .navigation .navigation-items a {
    color: #E8DFCA;
    text-decoration: none;
    font-size: 1em;
    margin-left: 30px;
    transition: 0.5s ease;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;

}

header .navigation .navigation-items a::before {
    content: '';
    position: absolute;
    background: #ff004f;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
}

header .navigation .navigation-items a:hover::before {
    width: 100%;
    transition: 0.5s ease;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #1A4D2E;
}

.home::before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #E8DFCA;
    width: 70%;
    margin-top: 50px;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    padding: 15px 35px;
    color: #F5EFE6;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.5s ease;
    border: 4px solid#4F6F52;

}

.home .content a:hover {
    background: #ff004f;
    color: white;
}


.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #E8DFCA;
    font-size: 1.6em;
    background: none;
    transition: 0.5s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;

}

.home .media-icons a:hover {
    transform: scale(1.4);
}

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-btn {
    display: none;
    font-size: 20px;
    cursor: pointer;
    right: 10px;
    top: 10px;
    position: fixed;
    z-index: 1050;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #E8DFCA;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: #4F6F52;
    transition: 0.3s ease;
    z-index: 1000;
}

.slider-navigation .nav-btn.active {
    background: #4F6F52;
}

.slider-navigation .nav-btn {
    margin: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.photo-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Ensure full coverage */
    top: 0;
    left: 0;
    visibility: hidden;
    /* Start with hidden visibility */
    pointer-events: none;
    transition: 3.5s ease;
    /* Ignore mouse events when video is not active */
}

.photo-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio */
    transition: opacity 0.75s ease;
    /* Transition only the opacity */
}

.photo-slide.active {
    visibility: visible;
    /* Make visible when active */
    transition: opacity 0.75s ease;
    /* Transition only the opacity */
    pointer-events: auto;
    /* Enable mouse events when video is active */
}



/* About Section with Card Style */

#About {
    background-image: url('photos/background9.jpeg');
    color: #E8DFCA;
    /* Cream color for contrast */
    font-family: 'Poppins', sans-serif;
    padding: 60px 5%;
    /* Responsive padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center-align the content */
    position: relative;
    /* Required for absolute positioning of pseudo-element */
    overflow: hidden;
    /* Ensures the pseudo-element does not exceed the container */
}

#About::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black */
    z-index: 0;
    /* Ensures the overlay is behind the content */
}

#About>* {
    position: relative;
    /* Ensures content is above the pseudo-element */
    z-index: 1;
}


#About .content {
    width: 100%;
    /* Full width within padding */
    max-width: 85%;
    /* Maximum width of the content */
    margin-top: 30px;
    /* Space from header */
}

#About .about-title h1 {
    font-size: 2.5em;
    /* Large font size for title */
    text-align: center;
    /* Center-align the title */
    margin-bottom: 20px;
    /* Space below the title */
}

#About .about-title h3 {
    font-size: 1.4em;
    /* Slightly smaller font size for subtitles */
    text-align: center;
    /* Center-align the subtitle */
    margin-bottom: 40px;
    /* Space below the subtitle */
}

#About .about-card {
    background: rgba(13, 66, 51, 0.45);     /* Darker green background for each card */
    border-radius: 10px;
    /* Rounded corners for cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
    padding: 20px;
    /* Padding inside cards */
    margin-bottom: 20px;
    /* Space between cards */
    display: flex;
    flex-direction: row;
    /* Horizontal layout for larger screens */
    align-items: center;
    /* Center items vertically */
    justify-content: space-between;
    /* Space between image and text */
    flex-wrap: wrap;
    /* Allows wrapping on smaller screens */
}

#About .about-card img {
    width: 40%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin: 10px;
}

#About .about-card div {
    width: 60%;
    padding: 10px;
}

#About .about-card h2 {
    font-size: 2.1em;
    color: #F5EFE6;
    padding-bottom: 20px;
}

#About .about-card p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
}
#About .about-end {
    background: rgba(13, 66, 51, 0.5);     padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

/* Contact Section Base Styles */
#contact {
    background-image: url('photos/contact.jpeg');
    color: #E8DFCA;
    /* Cream color for contrast */
    font-family: 'Poppins', sans-serif;
    padding: 60px 5%;
    /* Responsive padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center-align the content */
    position: relative;
    /* Required for absolute positioning of pseudo-element */
    overflow: hidden;
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.86);
    /* Semi-transparent black */
    z-index: 0;
    /* Ensures the overlay is behind the content */
}

#contact>* {
    position: relative;
    /* Ensures content is above the pseudo-element */
    z-index: 1;
}


#contact .container {
    width: 100%;
    /* Full width within padding */
    max-width: 1200px;
    /* Maximum width of the content */
    margin-top: 30px;
    /* Space from header */
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100% ;
    max-height: 600px;
    min-height: 500px;
}

.contact-info, .contact-form {
    flex: 1;
    background: rgba(232, 223, 202, 0.75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.message{
    height: 200px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-detail i {
    font-size: 34px;
    color: #0D4233;
}

.contact-detail p {
    font-size: 20px;
    color: #0D4233;}

.social-icons a {
    margin-top: 20px;
    margin-right: 20px;
    color: inherit;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    
}

.social-icons p{
    margin-left: 10px;
    color: #0D4233;
}

.social-icons i {
    font-size: 34px;
    color: #1A4D2E;
    transition: color 0.3s;
}

.social-icons a:hover i {
    color: #555;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: none;
    border: none;
    color: black;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    border: 4px solid#ff004f;
}

.contact-form button:hover {
    background: #ff004f;
    color: white;}

/* Service Section */
.service {
    background-image: url('photos/contact.jpeg'); /* Replace with your image */
    color: #E8DFCA; /* Cream color for text */
    font-family: 'Poppins', sans-serif;
    padding: 60px 5%; /* Responsive padding */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the content */
    position: relative; /* Required for absolute positioning of pseudo-element */
    overflow: hidden; /* Hide any overflow caused by pseudo-element */
}

.service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55); /* Semi-transparent black */
    z-index: 0; /* Ensures the overlay is behind the content */
}

/* Ensure content within .service is above the overlay */
.service > * {
    position: relative;
    z-index: 1;
}

/* Service Cards Container */
.service-cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* Individual Service Card */
.service-card {
    background: linear-gradient(135deg, #008080, #003366); /* Gradient background */
    padding: 20px;
    border-radius: 15px; /* More rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 100%;
    max-width: 35%; /* Maximum width for responsiveness */
    min-height: 300px; /* Increased minimum height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between content and button */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.service-card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Service Card Heading */
.service-card h3 {
    font-size: 1.75rem; /* Larger font size for headings */
    font-weight: 500;
    margin-bottom: 15px;
    color: #E8DFCA; /* Cream color for headings */
}

/* Service Card Text */
.service-card p {
    font-size: 1rem; /* Adjusted font size for better readability */
    margin-bottom: 20px;
    color: #E8DFCA; /* Cream color for paragraph text */
}

/* Button Style */
.service-card .btn {
    padding: 10px 20px;
    color: #E8DFCA; /* Cream color for button text */
    background-color: #1A4D2E; /* Dark background to match the service section */
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid #E8DFCA; /* Border color to match button text */
}

.service-card .btn:hover {
    background-color: #ff004f;
    color: white;
    border-color: #ff004f;
}



/* Gallery */

.gallery{
    background-image: url('photos/background1.jpeg');
    color: #E8DFCA;
    /* Cream color for contrast */
    font-family: 'Poppins', sans-serif;
    padding: 60px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 1s ease;

}

.gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black */
    z-index: 0;
    /* Ensures the overlay is behind the content */
}

.gallery>* {
    position: relative;
    /* Ensures content is above the pseudo-element */
    z-index: 1;
}

.gallery .container {
    width: 80%;
    margin: auto;

}

.main-image-display img {
    width: 100%;
    max-height: 700px;
    display: block;
    margin-bottom: 20px;

}

.image-slider {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;


}

.image-slider img {
    width: 120px;
    height: 80px;
    cursor: pointer;
    transition: 0.5s ease;
    object-fit: cover;
}

.image-slider img:hover {
    transform: scale(1.1);

}


@media (max-width: 768px) {
    .contact-flex {
        flex-direction: column;
    }
}



@media only screen and (max-width: 1040px) {
    header {
        padding: 15px 50px;
        position: fixed;
        /* Reduced padding for smaller screens */
        background-color: #1A4D2E;
    }

    header .brand {
        font-size: 1.1em;
        /* Reduce font size for brand */
    }



    section {
        padding: 100px 50px;
        /* Adjust section padding to be smaller */
    }

    .slider-navigation .nav-btn {
        margin: 10px;
        width: 5px;

    }

    .service-card {
        max-width: 250px; /* Maximum width for responsiveness */
        min-height: 100px; /* Increased minimum height */
     /* Smooth transitions */
    }

    .home .content {
        width: 90%;
        /* Increase width for smaller screens to use more space */
        margin-top: 20px;
        /* Reduce margin top */
    }

    .home .content h1 {
        font-size: 1.9em;
        /* Reduce font size for main heading */
        line-height: 60px;
        /* Adjust line height to fit new font size */
    }

    .home .content h1 span {
        font-size: 1em;
        /* Adjust span font size within h1 */
    }

    .home .content p {
        font-size: 0.9em;
        /* Smaller paragraph font size */
        margin-bottom: 40px;
        /* Adjust bottom margin of paragraph */
    }

    .home .content a {
        padding: 10px 30px;
        /* Adjust button padding */
        font-size: 1em;
        /* Adjust button font size */
    }

    .home .media-icons {
        right: 10px;
        /* Adjust the position of the media icons */
    }

    header .navigation {
        position: fixed;
        top: 0;
        right: -200px;
        /* Offscreen initially */
        width: 200px;
        height: 100vh;
        /* Full viewport height */
        background-color: #4F6F52;
        /* Themed background color */
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
        /* Adds shadow for depth */
        transition: right 0.3s ease-in-out;
        /* Smooth and responsive transition */
        z-index: 1000;
        /* Ensures the navigation is above other elements */
        padding-top: 60px;
        /* Space for top content, aligns with the menu button visually */
    }

    header .navigation.active {
        right: 0;
        /* Slides in to view when active */
    }

    header .navigation .navigation-items a {
        display: block;
        color: #E8DFCA;
        text-decoration: none;
        padding: 15px 20px;
        /* Generous padding for easier interaction */
        text-align: center;
        font-size: 1em;
        /* Maintain default size for clarity */
        transition: background-color 0.3s ease-in-out;
        /* Smooth transition for hover effects */
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        /* Subtle separator for each item */
    }

    header .navigation .navigation-items a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        /* Light hover effect for visual feedback */
    }

    .menu-btn {
        position: fixed;
        display: inline-block;
        font-size: 30px;
        color: #E8DFCA;
        cursor: pointer;
        position: absolute;
        right: 20px;
        z-index: 1001;
        /* Ensures the button is clickable and above the navigation layer */
        transition: color 0.3s ease;
        /* Smooth transition for hover color change */
    }

    /* Footer Styles */
    footer {
        background-color: #1A4D2E;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    
    footer p {
        margin: 0;
        font-size: 0.9em;
    }
    
    div.scroll-container {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 60px;
        justify-content: space-between;
    }
    
    div.scroll-container img {
        height: auto;
        max-height: 300px;
        min-width: 40%;
    }

    .menu-btn:hover {
        color: #C5D6B1;
        /* Lighter color on hover for better interaction feedback */
    }

    /* About Section */
    #About {
        padding: 10px 5px;
        /* Less paddi1g on smaller screens */
    }

    #About .content {
        padding: 0px;
        /* Adjust padding in smaller screens */
    }

    #About .about-title h1,
    #About .about-descriptions h2,
    #About .about-end h2 {
        font-size: 1.5em;
        /* Smaller font size on smaller screens */
    }

    #About .about-card h2 {
        font-size: 1.0em;
        text-align: center;
    }

    #About .about-card p {
        font-size: 0.8em;
    }

    #About .about-title {
        margin-bottom: 20px;
        /* Less margin on smaller screens */
    }

    #About .about-title h3 {
        font-size: 1.2em;
        /* Less margin on smaller screens */
    }

    #About .about-card {
        flex-direction: column;
        width: 100%;
        /* Stack elements vertically on small screens */
        align-items: center;
        /* Center alignment */
    }

    #About .about-card img {
        width: 80%;
        /* Larger images on small screens */
    }

    #About .about-card div {
        width: 100%;
        /* Text takes full width on small screens */
    }

    #About .about-end {
        width: 100%;
    }


    #contact {
        max-width: 100%;
        padding: 20px;
    }

    .section-title {
        font-size: 2em; /* Smaller title on smaller screens */
    }

    .contact-flex {
        flex-direction: column; /* Stack form and info vertically */
    }

    .contact-info, .contact-form {
        padding: 15px; /* Less padding */
    }

    .contact-detail i {
        font-size: 24px; /* Significantly smaller icons */
    }

    .contact-detail p {
        font-size: 14px; /* Significantly smaller text */
        font-size: smaller;
    }

    .social-icons a {
        margin-right: 10px; /* Less spacing between icons */
        font-size: smaller;

    }

    .social-icons i {
        font-size: small;
    }

    .gallery {
        height: 75vh;
        padding: 30px 3%;
    }

    .main-image-display img {
        max-height: 400px;
    }

    .image-slider img {
        width: 90px;
    }

    .gallery h2.section-title {
        font-size: 1.5em;
    }
}

    







